@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-height: 45px;
}

li {
    display: inline-block;
    float: left;
    padding: 20px;
}

a {
    color: #609b31;
    font-family: 'Bitter';
    font-weight: 700;
}

a:hover {
    color: #44721e;
    text-decoration: none;
}

.headerLogo {
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 0;
}

.banner {
    width: 100vw;
}

#firstBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 60vh;
    box-shadow: 8px 8px 14px #969696;
}

.title {
    color: #ffffff;
    font-family: 'Bitter';
    font-weight: 700;
}

.subtitle {
    color: #9AD476;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
}

.icon {
    max-width: 40px;
}

#benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 20px;
}

.benefitTitle {
    text-align: center;
    color: #609b31;
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 22px;
    padding: 20px;
}

.benefitDescription {
    text-align: center;
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 0px 30px 0px 30px;
}

#mapsText, #map {
    background-color: rgb(243, 243, 243);
    padding: 40px 30px 40px 30px;
}

.map {
    width: 50vw;
    padding: 20px;
    
}

.mapsTitle, .carouselTitle, #iconsTitle, .bonusTitle {
    color: #609b31;
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    padding: 20px;
}

.carouselTitle, .bonusTitle {
    text-align: center;
    margin-top: 20px;
}

.carousel-caption {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mapDescription {
    text-align: justify;
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 20px;
}

.bold {
    font-weight: bold;
    color: #609b31;
}

.italics {
    font-style: italic;
}

.modulesTitle {
    color: #FFFFFF;
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.modulesText {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
}

.bonuses {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 80px 0px 80px;
    margin: 20px 0px 40px 0px;
}

.bonusTitle {
    margin-bottom: 30px;
}

.benefitDescription {
    max-width: 30vw;
}