@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

/* Editando o menu */
.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#logoDescomplicaQGIS {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-height: 45px;
}

li {
    display: inline-block;
    float: left;
    padding: 20px;
}

a {
    color: #609b31;
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 15px;
    transition: 0.5s;
}

a:hover {
    color: #395e1b;
    text-decoration: none;
    font-size: 16px;
    transition: 0.5s;
}

.headerLogo {
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 0;
}

.navbar {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 100px #000000;
}

/* Editando o primeiro banner */

.banner {
    width: 100vw;
}

.btn {
    background-color: #609b31;
    border: none;
    font-family: 'Montserrat';
    font-weight: bolder;
    margin-top: 20px;
}


.btn:hover {
    background-color: #395e1b;
}

#bannerInicial {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 60vh;
    box-shadow: 8px 8px 14px #969696;
    margin-top: 80px;
}

/* Editando a seção de vídeo */

#video-btn {
    width: 76vw;
    padding: 12px 0px 12px 0px;
}

#text-btn {
    margin-left: 20px;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30px;
}

#youtubePlayer {
    display: block;
    margin: auto;
    width: 1200px;
    height: 800px;
    margin-top: 40px;
    margin-bottom: 20px;
}
  
@media(max-width: 1000px) {
    #youtubePlayer {
        max-width: 90vw;
    }
}

.title {
    color: #ffffff;
    font-family: 'Bitter';
    font-weight: 700;
}

.subtitle {
    color: #9AD476;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
}

.icon {
    max-width: 40px;
}

.description {
    max-height: 100px;
    margin: 0px 30px 0px 30px;
}

.benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 20px;
}

.benefitTitle {
    text-align: center;
    color: #609b31;
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 22px;
    padding: 20px;
}

.benefitDescription {
    text-align: center;
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-size: 16px;
    padding: 0px 30px 0px 30px;
}

#mapsText, #mapImage, .instrutor {
    padding: 40px 30px 40px 30px;
}

.map, .photo {
    width: 50vw;
    padding: 20px;
}

.defaultTitle {
    color: #395e1b;
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    padding: 20px;
}

.greenBackground {
    background-color: #f3f3f3;
}

#iconsTitle, #estrutura, #bonus, #alunos, #valor, #faq {
    text-align: center;
}

.priceDescription {
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.promotion {
    font-size: 45px;
    font-weight: bold;
}

.payment {
    max-width: 80px;
    max-height: 35px;
    padding: 0px 10px 0px 10px;
}

.paymentBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.exampleCaption {
    text-align: center;
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 19px;
    padding: 22px;
}

.examples {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.example {
    max-width: 400px;
    transition: 0.4s;
}

.example:hover {
    transform: scale(1.15);
    transition: 0.4s;
}

#carouselExampleControls {
    background-image: url("../img/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 95vw;
    min-height: 75vh;
    display: flex;
    margin-bottom: 40px;
}

#carouselContent {
    margin-bottom: 40px;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    padding: 0px;
}

.contactTitle {
    padding: 50px 60px 50px 60px;
    text-align: center;
}

.contact {
    padding: 0;
}

.tituloInstrutor, .descricaoInstrutor {
    padding-left: 25px;
}

.carouselTitle, .bonusTitle, .faqTitle {
    text-align: center;
    margin-top: 20px;
}

.carousel-caption {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mapDescription {
    text-align: justify;
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-size: 16px;
    padding-left: 20px;
    margin: 0;
}

.instructorDescription {
    text-align: justify;
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-size: 16px;
    padding-left: 25px;
}

.bold {
    font-weight: bold;
    color: #609b31;
}

.italics {
    font-style: italic;
}

.modulesTitle {
    color: #FFFFFF;
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    padding-top: 40px;
    margin: 0px;
}

.modulesText {
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    margin: 0px;
}

.photo {
    max-width: 350px;
    max-height: 350px;
}

.bonuses {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 80px 0px 80px;
    margin: 20px 0px 40px 0px;
    transition-duration: 0.6s;
}

.bonuses:hover {
    background-color: #e8f8de;
    transition-duration: 0.6s;
    margin: 0px;
}

.bonusTitle {
    margin-bottom: 30px;
}

.benefitDescription {
    max-width: 30vw;
}

.faqText {
    text-align: justify;
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-size: 16px;
}

.faqQuestion {
    text-align: center;
    color: #609b31;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 18px;
}

.faqBox {
    margin-bottom: 30px;
}

.card {
    border: none;
}

.card-header {
    border: none;
    background-color: #f3f3f3;
    margin: 5px;
}

.instrutor {
    display: flex;
    flex-direction: row;
}

.bio {
    display: flex;
    flex-direction: column;
}

#payment-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.carousel-item {
    text-align: center;
}

#carouselAlunos {
    max-width: 50vw;
}

.carousel-control-prev, .carousel-control-next, .carousel-control-prev-icon, .carousel-control-next-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carouselBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    box-shadow: -4px -4px 40px #d1d1d1;
}

.footerText {
    text-align: center;
    color: #2c2c2c;
    font-family: 'Montserrat';
    font-size: 14px;
    padding-top: 30px;
    margin: 0px;
}

footer {
    text-align: center;
}

.fa {
    padding: 10px 10px 25px 10px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}
  
.fa:hover {
    opacity: 0.6;
}